<div ng-controller="ChatCtrl">
<div class="{{ chatClass }}">
<div class="popup-box chat-popup" ng-show="chatOn">
    <div class="popup-head">
        <div class="popup-head-left">Chat</div>
        <div class="popup-head-right">
	        <span class="glyphicon glyphicon-chevron-down popup-btn" ng-click="hide()" ng-show="chatMaximized"></span>
	        <span class="glyphicon glyphicon-chevron-up popup-btn" ng-click="show()" ng-hide="chatMaximized"></span>
	        <span class="glyphicon glyphicon-remove popup-btn" ng-click="close()"></span>
				</div>
        <div style="clear: both"></div>
    </div>
    <div class="popup-messages" ng-show="chatMaximized">{{ messages }}</div>
</div>
</div>
</div>