<div class="row">
<div class="panel panel-default">
<div class="panel-body" style="max-height: 700px; overflow-y:scroll;">

<div class="row">
<div class="col-sm-12">
<h2>Data Center</h2>
<button type="button" class="btn btn-primary btn-sm" ng-click="vm.stix()">STIX</button>
<button type="button" class="btn btn-default btn-sm" ng-click="vm.clear()">Clear</button>
<!-- <button type="button" class="btn btn-default btn-sm" ng-click="vm.query()">QUERY</button>
<button type="button" class="btn btn-disabled btn-sm" ng-click="vm.save()">SAVE</button> -->
</div></div>

<div ng-if="vm.showSourceForm">
<div class="row">
<div class="col-sm-12">

  <h4 style="margin-top: 10px;">Upload a STIX file</h4>
  <form name="upload" data-ng-submit="addFile()">
  <div class="form-group">
    <input type="file" name="stixfile"
    onchange="angular.element(this).scope().uploadedFile(this)" />
  </div>
  <div class="form-group">
    <label>Processing action</label>
    <!-- <input type="text" class="form-control" placeholder="fileinfo" ng-model="vm.action"> -->
    <select name="action" id="action" ng-model="vm.action">
      <option value="fileinfo" selected>Files</option>
      <option value="md5">MD5 hashes</option>
      <option value="json">Summary</option>
      <option value="hostname">Hostnames</option>
      <option value="ip">IPs</option>
    </select>
  </div>
    <button class="btn btn-sm btn-primary" type="submit">Upload</button> {{vm.waiting}}


  </form>

</div></div></div>
<div ng-if="vm.showZeroResult" style="margin-top: 15px;"><p>No results were found</p></div>
<div ng-if="vm.showSourceResult" class="spacer10">
<!-- <pre>{{ vm.stixResult }}</pre>
 -->
 <div ng-show="vm.showHashButton" style="margin-bottom: 10px;">
 <button class="btn btn-sm btn-primary" ng-click="vm.lookupHashes(vm.stixResult)">Look up hashes</button> {{vm.hashWaiting }}
 </div>

<div ng-if="vm.showHashResult" class="spacer10">
<h5>Hashes found in tupelo store</h5>
<div class="list-group">

  <div class="list-group-item" ng-repeat="t in vm.tupeloData.hits">
  <!-- <div class="col-sm-12"> -->
    <!-- <pre>{{ t }}</pre> -->
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        md5
      </div>
      <div class="col-sm-10">
        {{ t.md5 }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        sha1
      </div>
      <div class="col-sm-10">
        {{ t.sha1 }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        sha256
      </div>
      <div class="col-sm-10">
        {{ t.sha256 }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        diskID
      </div>
      <div class="col-sm-10">
        {{ t.descriptor.diskID }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        session
      </div>
      <div class="col-sm-10">
        {{ t.descriptor.session }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        path
      </div>
      <div class="col-sm-10">
        {{ t.path }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="font-weight: bold;">
        size
      </div>
      <div class="col-sm-10">
        {{ t.size }}
      </div>
    </div>

  <!-- </div> -->
  </div>
</div>

</div>

<h5>STIX data</h5>

<div class="row" ng-repeat="info in vm.stixResult">
<div class="col-sm-12">
<pre>{{ info }}</pre>

</div></div></div>
