<!-- <div ng-controller="LogCtrl"> -->
<!-- <div class="{{ vm.logClass }}"> -->
<!-- <div class="spacer10"> -->

<!-- <div class="panel panel-default"> -->
<!-- <div class="panel-body"> -->
<div class="spacer10">
<button type="button" class="btn btn-primary btn-sm" ng-click="vm.toggle(vm.type)">{{ vm.buttonText }} {{ vm.displayName }}</button>
<button type="button" class="btn btn-default btn-sm" ng-click="vm.clear()">Clear</button>
<div class="spacer10" ng-show="vm.logmonOn()">
    
    <div class="vm.logClass" style="white-space: pre; font-family: Monaco, monospace; font-size: 10px;" ng-show="vm.logMaximized">{{ vm.messages }} </div>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
