<div class="container main">
<h2 >Log Monitors</h2>
<div class="row">
<div class="col-sm-12">
  <tabset type="pills">
    <tab heading="Devops" active="active.devops">
    <log-monitor exchange="types.devops">
    </log-monitor>
    </tab>
    <tab heading="Health" active="active.health">
    <log-monitor exchange="types.health">
    </log-monitor>
    </tab>
    <tab heading="Logs" active="active.logs">
    <log-monitor exchange="types.logs">
    </log-monitor>
    </tab>
    <tab heading="Test Report" active="active.dimstr">
    <log-monitor exchange="types.dimstr">
    </log-monitor>
    </tab>
    <tab heading="CI Testing" active="active.test">
    <log-monitor exchange="types.test">
    </log-monitor>
    </tab>
  </tabset>
  </div>
</div>
</div>
