
<div class="query-tray-icon"><div style="width: 10px;"> <span class="glyphicon glyphicon-folder-close query-tray-btn"  ng-click="queryToggle()" ng-show="isCollapsed"></span>
<span class="glyphicon glyphicon-folder-open query-tray-btn" ng-click="queryToggle()" ng-show="!isCollapsed"></span>
<span class="glyphicon glyphicon-search query-tray-btn" ng-click="getTools()" ></span>
<span class="glyphicon glyphicon-list query-tray-btn" ng-click="getSavedQueries()" ></span>
<span class="glyphicon glyphicon-cog query-tray-btn" ng-click="getSettings()" ></span>
<span class="glyphicon glyphicon-tasks query-tray-btn" ng-click="getTickets()" ></span>
</div>
</div>

<div class="container main">
<h1>Current Activity</h1>

<div class="row" collapse="isCollapsed">
<!-- Tools -->
<div class="col-xs-2" >
<div style="border: 1px solid #ddd;" ng-show="showTools">
<div class="list-group" style="margin-bottom: 0px;"><a href="#" class="list-group-item disabled">
<h4 class="list-group-item-heading">Choose a Tool</h4>
</a></div>
<div class="list-group" style="margin-bottom: 0px;">
<a href="#" class="list-group-item {{t.selected}}" ng-repeat="t in availableTools" ng-click="setTool(t, $index)">{{t.desc}}</a>

</div> <!-- End main list-group div -->
</div> <!-- End enclosing div -->
</div> <!-- End first col div -->

<div class="col-xs-10" >
<dims-search-form ng-show="currentSelectedTool.name !== undefined && showTools" tool="currentSelectedTool"></dims-search-form>
</div>

<!-- Saved Queries -->
<div class="col-xs-2" >
<div style="border: 1px solid #ddd;" ng-show="showSavedQueries">
<div class="list-group" style="margin-bottom: 0px;"><a href="#" class="list-group-item disabled">
<h4 class="list-group-item-heading">Saved Queries</h4>
</a></div>
<div class="list-group saved-query-group" style="margin-bottom: 0px;" >
<a href="#" class="list-group-item {{q.selected}}" ng-repeat="q in savedQueries" ng-click="setQuery(q, $index)" >{{q.name}}</a>
</div> <!-- End main list-group div -->
</div> <!-- End enclosing div -->
</div> <!-- End first col div -->

<div class="col-xs-10" >
<div class="panel panel-default" ng-show="currentSelectedQuery.name !== undefined && showSavedQueries">
  <div class="panel-body" >
  <h4>{{currentSelectedQuery.name}}</h4>
  <p>{{currentSelectedQuery.desc}}</p>
  <button type="button" class="btn btn-primary btn-sm" ng-click="callClient()">Show Data</button>
  </div>
</div></div>

<!-- Settings -->
<div class="col-xs-12">
<div class="panel panel-default" ng-show="showSettings" >
  <div class="panel-body" >

  <h3>Settings</h3>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2">Toggle Anonymization</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="settingsFormData.anonymize" ng-options="f.value as f.label for f in anonymizeValues" ng-change="setUserSettings()" >
        </select>
      </div>
    </div>
  </form>

    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2">Choose cifbulk queue</label>
        <div class="col-sm-4">
          <select class="form-control" ng-model="settingsFormData.cifbulkQueue" ng-options="f.value as f.label for f in cifbulkQueueValues" ng-change="setUserSettings()" >
          </select>
        </div>
      </div>
    </form>

    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2">Toggle RPC client debug flag</label>
        <div class="col-sm-4">
          <select class="form-control" ng-model="settingsFormData.rpcDebug" ng-options="f.value as f.label for f in rpcDebugValues" ng-change="setUserSettings()" >
          </select>
        </div>
      </div>
    </form>

    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2">Toggle RPC client verbose flag</label>
        <div class="col-sm-4">
          <select class="form-control" ng-model="settingsFormData.rpcVerbose" ng-options="f.value as f.label for f in rpcVerboseValues" ng-change="setUserSettings()" >
          </select>
        </div>
      </div>
    </form>
     <button type="button" class="btn btn-primary btn-sm" ng-click="toggleLogMonitor()" ng-hide="logmonOn">Turn Log Monitor On</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="toggleLogMonitor()" ng-show="logmonOn">Turn Log Monitor Off</button>
  &nbsp; &nbsp; Log Monitor is {{ logmonOn ? 'On' : 'Off' }}.
   <button type="button" class="btn btn-primary btn-sm" ng-click="toggleChat()" ng-hide="chatOn">Turn Chat On</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="toggleChat()" ng-show="chatOn">Turn Chat Off</button>
  &nbsp; &nbsp; Chat is {{ chatOn ? 'On' : 'Off' }}.
  </div>
</div></div>

</div> <!-- end of row -->

<div class="row" style="margin-top: 20px;"><div class="col-xs-12" >
<div class="panel panel-default">
  <div class="panel-body">Current Main Graph</div>
</div>  
</div></div>  
<div class="row"><div class="col-xs-12">
<div class="panel panel-default">
  <div class="panel-body">Current Data</div>
</div>  
</div></div>  

</div>
