<!-- <div class="query-tray-icon">
<div style="width: 10px;">
<span class="glyphicon glyphicon-search query-tray-btn {{ toolBtnClass }}" ng-click="getTools()" tooltip="{{ buttonTooltips.tools }}" tooltip-append-to-body="true" tooltip-placement="right"></span>

</div>
</div> -->

<div class="container main">
<h1>{{title}}</h1>

<div class="row">
<div class="col-sm-2">
<div class="row">
<div class="col-sm-12">
<div class="panel panel-success" style="margin-bottom:10px;">
  <div class="panel-heading">
    <p style="margin-bottom: 0px;">Status summary <i class="fa fa-circle" style="color: green; float:right; margin-top:3px;"></i> </p>
  </div>
</div>

<h3>External sites</h3>
</div></div>
<external-sites></external-sites>

</div>
<div class="col-sm-8">

  <mitigations></mitigations>

<!-- <div class="row">
<div class="col-sm-8">
<button type="button" class="btn btn-default" ng-click="source()">SOURCE</button>
<button type="button" class="btn btn-default" ng-click="query()">QUERY</button>
<button type="button" class="btn btn-default" ng-click="reset()">RESET</button>
<button type="button" class="btn btn-default" ng-click="source()">SAVE</button>
</div>
<div class="col-sm-4"></div>
</div> -->
  <ticketlist></ticketlist>
</div>


<div class="col-sm-2">

<div class="row"><div class="col-sm-12">
<h3 style="margin-bottom: 15px;">Display</h3>
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-success" ng-click="toggleDisplay('mitigation')"><span class="badge">ON</span>Remediations</button>
  <button type="button" class="list-group-item list-group-item-success" ng-click="toggleDisplay('activities')"><span class="badge">ON</span>Activities</button>
  <button type="button" class="list-group-item list-group-item-warning" ng-click="toggleDisplay('datacenter')"><span class="badge">OFF</span>Data center</button>
  <button type="button" class="list-group-item list-group-item-warning" ng-click="toggleDisplay('notifications')"><span class="badge">OFF</span>Notifications</button>
</div>
</div></div>




<!-- <div class="panel panel-default"><div class="panel-body">
<h2 tooltip="Latest notifications will display here" tooltip-append-to-body="true" tooltip-placement="right">Notifications</h2>

</div></div> -->
</div>
</div>
</div>
