
<div class="query-tray-icon">
<div style="width: 10px;">
<!--  <span class="glyphicon glyphicon-folder-close query-tray-btn"  ng-click="queryToggle()" ng-show="isCollapsed"></span>
<span class="glyphicon glyphicon-folder-open query-tray-btn" ng-click="queryToggle()" ng-show="!isCollapsed"></span> -->
<span class="glyphicon glyphicon-search query-tray-btn {{ toolBtnClass }}" ng-click="getTools()" tooltip="{{ buttonTooltips.tools }}" tooltip-append-to-body="true" tooltip-placement="right"></span>
<span class="glyphicon glyphicon-tasks query-tray-btn {{ ticketBtnClass }}" ng-click="getTickets()" tooltip="{{ buttonTooltips.tickets }}" tooltip-append-to-body="true" tooltip-placement="right"></span>
<span class="glyphicon glyphicon-list query-tray-btn {{ savedBtnClass }}" ng-click="getSavedQueries()" tooltip="{{ buttonTooltips.saved }}" tooltip-append-to-body="true" tooltip-placement="right"></span>
<span class="glyphicon glyphicon-cog query-tray-btn {{ settingsBtnClass }}" ng-click="getSettings()" tooltip="{{ buttonTooltips.settings }}" tooltip-append-to-body="true" tooltip-placement="right"></span>

</div>
</div>

<div class="container main">
<h1>{{title}}</h1>

<div class="row" collapse="isCollapsed">

<!-- Tools -->
<div class="col-xs-2" >
<div style="border: 1px solid #ddd;" ng-show="showTools">
<div class="list-group" style="margin-bottom: 0px;"><a href="#" class="list-group-item disabled">
<h5 class="list-group-item-heading">Choose a Tool</h5>
</a></div>
<div class="list-group" style="margin-bottom: 0px;">
<a href="#" class="list-group-item {{t.selected}}" ng-repeat="t in availableTools" ng-click="setTool(t, $index)">{{t.desc}}</a>

</div> <!-- End main list-group div -->
</div> <!-- End enclosing div -->
</div> <!-- End first col div -->

<div class="col-xs-10" >
<dims-search-form ng-show="currentSelectedTool.name !== undefined && showTools" tool="currentSelectedTool"></dims-search-form>
</div>

<!-- Saved Queries -->
<div class="col-xs-2" >
<div style="border: 1px solid #ddd;" ng-show="showSavedQueries">
<div class="list-group" style="margin-bottom: 0px;"><a href="#" class="list-group-item disabled">
<h5 class="list-group-item-heading">Saved Queries</h5>
</a></div>
<div class="list-group saved-query-group" style="margin-bottom: 0px;" >
<a href="#" class="list-group-item {{q.selected}}" ng-repeat="q in savedQueries" ng-click="setQuery(q, $index)" >{{q.name}}</a>
</div> <!-- End main list-group div -->
</div> <!-- End enclosing div -->
</div> <!-- End first col div -->

<div class="col-xs-10" >
<div class="panel panel-default" ng-show="currentSelectedQuery.name !== undefined && showSavedQueries">
  <div class="panel-body" >
  <h4>{{currentSelectedQuery.name}}</h4>
  <p>{{currentSelectedQuery.desc}}</p>
  <button type="button" class="btn btn-primary btn-sm" ng-click="callClient()">Show Data</button>
  </div>
</div></div>

<!-- Tickets -->
<div class="col-xs-2" >
<div style="border: 1px solid #ddd;" ng-show="showTickets">
<div class="list-group" style="margin-bottom: 0px;"><a href="#" class="list-group-item disabled">
<h5 class="list-group-item-heading">Tickets</h5>
</a></div>
<div class="list-group ticket-group" style="margin-bottom: 0px;" >
<a href="#" class="list-group-item {{t.selected}}" ng-repeat="t in tickets" ng-click="setTicket(t, $index)" >{{t.name}}</a>
</div> <!-- End main list-group div -->
</div> <!-- End enclosing div -->
</div> <!-- End first col div -->

<div class="col-xs-2">
<div style="border: 1px solid #ddd;" ng-show="showTopicList && showTickets">
<div class="list-group" style="margin-bottom: 0px;"><a href="#" class="list-group-item disabled">
<h5 class="list-group-item-heading">{{ currentSelectedTicket.name }} Topics</h5>
</a></div>
<div class="list-group ticket-group" style="margin-bottom: 0px;" >
<a href="#" class="list-group-item {{p.selected}}" ng-repeat="p in currentSelectedTicket.topics" ng-click="setTopic(p, $index)" >{{p.name}}</a>
</div> <!-- End main list-group div -->
</div> <!-- End enclosing div -->  

<div ng-show="(!showTopicList && !showTopic) && showTickets">
<h4>Tickets</h4>
<p>To select a ticket, click its name in the list.</p>
</div>

</div>

<div class="col-xs-8" >

<div ng-show="currentSelectedTicket.name !== undefined && showTopicList">
  <!-- <div class="panel-body" > -->
  <h4>{{currentSelectedTicket.name}}: {{ currentSelectedTicket.ticket.type }} Ticket</h4>
  <p>Created {{ currentSelectedTicket.ticket.createdTime | date : 'medium' }} by {{ currentSelectedTicket.ticket.creator }}<br/>
  Status: {{ currentSelectedTicket.ticket.open ? 'Open' : 'Closed'}}</p>
  <!-- Topic info here -->
  <div ng-show="showTopic">
  <h4>{{ currentSelectedTopic.name }} </h4>
    <p>{{ currentSelectedTopic.shortDesc}}</p>
  </div>

  
  <!-- </div> -->
</div>

</div>



<!-- Settings -->
<div class="col-xs-12 settings">
<div class="panel panel-default" ng-show="showSettings" >
  <div class="panel-body" >

  <h3>Settings</h3>
  <div class="row"><div class="col-sm-6">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4">Toggle Anonymization</label>
      <div class="col-sm-7">
        <select class="form-control" ng-model="settingsFormData.anonymize" ng-options="f.value as f.label for f in anonymizeValues" ng-change="setUserSettings()" >
        </select>
      </div>
    </div>
  </form>
  </div>

  <div class="col-sm-6">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4">Toggle RPC client debug flag</label>
        <div class="col-sm-7">
          <select class="form-control" ng-model="settingsFormData.rpcDebug" ng-options="f.value as f.label for f in rpcDebugValues" ng-change="setUserSettings()" >
          </select>
        </div>
      </div>
    </form>   
  </div></div>

  <div class="row"><div class="col-sm-6">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4">Choose cifbulk queue</label>
        <div class="col-sm-7">
          <select class="form-control" ng-model="settingsFormData.cifbulkQueue" ng-options="f.value as f.label for f in cifbulkQueueValues" ng-change="setUserSettings()" >
          </select>
        </div>
      </div>
    </form>
    </div>
   
    <div class="col-sm-6">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4">Toggle RPC client verbose flag</label>
        <div class="col-sm-7">
          <select class="form-control" ng-model="settingsFormData.rpcVerbose" ng-options="f.value as f.label for f in rpcVerboseValues" ng-change="setUserSettings()" >
          </select>
        </div>
      </div>
    </form>
    </div></div>
    <div class="row"><div class="col-sm-2">
     <button type="button" class="btn btn-primary btn-sm" ng-click="toggleLogMonitor()" ng-hide="logmonOn">Turn Log Monitor On</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="toggleLogMonitor()" ng-show="logmonOn">Turn Log Monitor Off</button>
 </div><div class="col-sm-2">
   <button type="button" class="btn btn-primary btn-sm" ng-click="toggleChat()" ng-hide="chatOn">Turn Chat On</button>
  <button type="button" class="btn btn-primary btn-sm" ng-click="toggleChat()" ng-show="chatOn">Turn Chat Off</button>
 </div></div>
  </div>
</div></div>

</div> <!-- end of row -->

<div class="row" style="margin-top: 20px;" ng-if="showCif"><div class="col-xs-12" >
<h2>Current Results</h2>
<div class="row"><div class="col-sm-12 "><strong>{{ resultsMsg }}</strong></div></div>
<div class="table-responsive" ng-repeat="dr in displayData.results" ng-show="currentSelectedTopic.responseType === 'json'">
<table class="table table-striped table-hover table-bordered" ><tbody>
<tr>
<th>Address</th>
<th>Prefix</th>
<th>Report Time</th>
<th>Restriction</th>
<th>Confidence</th>

<th>ASN</th>
<th>CC</th>
<th>ASN Desc</th>
<th>Description</th>
<th>ID</th>
<th>Related ID</th>
<th>Alt ID</th>

</tr>
<tr ng-repeat="r in dr.results">
<td>{{ r.address }}</td>
<td>{{ r.prefix }}</td>
<td>{{ r.reporttime }}</td>
<td>{{ r.restriction }}</td>
<td>{{ r.confidence }}</td>

<td>{{ r.asn }}</td>
<td>{{ r.cc }}</td>
<td>{{ r.asn_desc | characters:25 }}</td>
<td>{{ r.description | characters:25 }}</td>
<td>{{ r.id }}</td>
<td>{{ r.relatedid }}</td>
<td>{{ r.alternativeid | characters:25 }}

<!-- </tr> -->
</tbody></table>
</div>

<dims-raw-results></dims-raw-results>
</div>
</div></div>

<!-- <div class="row" style="margin-top: 20px;"><div class="col-xs-12" >
<div class="panel panel-default">
  <div class="panel-body">Current Main Graph</div>
</div>  
</div></div>  
<div class="row"><div class="col-xs-12">
<div class="panel panel-default">
  <div class="panel-body">Current Data</div>
</div>  
</div></div>  
 -->
</div>
