<div class="row">
<div class="panel panel-default">
  <!-- <div class="panel-body" style="max-height: 700px; overflow-y:scroll;"> -->
  <div class="panel-body">
    <div style="float:left;"><h2>Remediations</h2></div>
    <div style="float:right; cursor:pointer;" tooltip="Create new remediation activity" tooltip-append-to-body="true" tooltip-placement="right"><i class="fa fa-plus fa-lg icon-style" ng-click="vm.addMitigation()"></i></div>

<div class="row" ng-if="vm.resultsFound">
<div class="col-sm-12">

<div class="row ticket-list" ng-repeat="mitigationData in vm.mitigationsData | orderBy" >
  <mitigation data="mitigationData"></mitigation>
</div>

</div>
</div>

<div class="row" ng-if="!vm.resultsFound">
<div class="col-sm-12">
No remediation activities found.
</div></div>

</div></div></div>
