<div class="row" style="margin:3px;padding:5px">
<div><h3 style="color:#2e78b8; margin-bottom:4px">{{ vm.data.metadata.name }}</h3>
<p style="color:#222; font-size:10px;">
  Created by {{ vm.data.metadata.creator }} &nbsp; &nbsp; Last updated: {{ vm.data.metadata.modifiedTime | date : 'medium' }}</p>
  <p><a style="cursor:pointer;" ng-click="vm.showIps(vm.data.ips.data, vm.data.key)">View my IPs needing mitigation</a></p>
</div>
<div class="row" ng-if="vm.showProgress">
<mitigationseries options="n.graphOptions" data="n.data" metadata></mitigationseries>
</div>
