<div class="page-block" ng-show="showResults">

<div class="heading-block">
  <span class="inline-group"><strong>Raw Results</strong></span><span ng-show="isJson">
  <button type="button" class="btn btn-primary btn-sm inline-group" ng-click="showPrettyResults()" ng-show="isRaw">Try Pretty Print</button>
  <button type="button" class="btn btn-primary btn-sm inline-group" ng-click="showRawData()" ng-hide="isRaw">Show Raw Data</button></span>
  <span class="inline-group">{{prettyMsg}}</span>
  <span class="inline-group" ng-show="loading">Loading data...</span>
</div>

<div class="dataPanel">
  <pre ng-show="isRaw" > {{rawData}} </pre>
  <pre ng-hide="isRaw"> {{prettyData}} </pre>
</div>

</div>