<div class="container main">
<h2 class="sub-header">Make system updates</h2>

<!-- TODO: Allow admin to customize -->
<!-- <h3>Set up home page and site logos</h3>
<form name="updateSiteData" data-ng-submit="vm.setSiteInfo()">
  <div class="form-group">
    <label>Organization Name</label>
    <input type="text" ng-model="vm.siteInfo.org" class="form-control">
  </div>

  <div class="form-group">
    <label>Home page intro text</label>
    <textarea ng-model="vm.siteInfo.org" class="form-control"></textarea>
  </div>

  <div class="form-group">
  <label>Choose an existing Logo</label>
  <div class="radio" ng-repeat="l in vm.logoFiles">
    <label>
      <input type="radio" ng-model="vm.siteInfo.siteLogoFile" value="l.value">{{ l.text }}
    </label>
  </div>
  </div>
  <button type="submit" class="btn btn-primary" >Submit Site Info</button>
</form>

<h3>Upload new logos</h3>

<form name="uploadLogo" data-ng-submit="vm.uploadLogo()">
  <div class="form-group">Upload new logo</div>
  <div class="form-group">
    <label>Upload a new
    <input type="file" name="sitelogo"
    onchange="angular.element(this).scope().uploadedFile(this)" />
  </div>
  <button type="submit" class="btn btn-primary" >Upload Logo</button>
</label>

<form name="uploadFavicon" data-ng-submit="vm.uploadFavicon()">
<div class="form-group">Upload new favicon</div>
  <div class="form-group">
    <input type="file" name="siteicon"
    onchange="angular.element(this).scope().uploadedFile(this)" />
  </div>
</label>
</div>
<button type="submit" class="btn btn-primary" >Upload Favicon</button>
</form> -->
