<div class="container main">
<h2 >{{ currentUser.name }} user information</h2>
<div class="row">
<div class="col-sm-8">
  <tabset type="pills">
    <tab heading="Profile" active="active.profile">
    <user-profile username="currentUser.username" tg="currentUser.currentTg">
    </user-profile>
    </tab>
    <tab heading="Attributes" active="active.attributes">
    <user-attributes>
    </user-attributes>
    </tab>
    <tab heading="Settings" active="active.settings">
      <user-settings>
    </user-settings>
    </tab>
  </tabset>
  </div>
</div>
</div>


