<h2 class="subheader">crosscor</h2>

<form class="form-horizontal" role="form" name="cifbulkForm">

  <div class="form-group">
  <label  class="col-sm-2 control-label">Friend or Foe</label>
    <div class="col-sm-3">
      <select class="form-control" ng-model="formData.iff" ng-options="f.value as f.label for f in iffs" >
        <option></option>
      </select>
    </div>
    <label  class="col-sm-2 control-label">Show Stats?</label>
    <div class="col-sm-1">
      <input type="checkbox" ng-model="formData.stats" name="stats" class="form-control"  />
  </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">IPs/CIDR/Domains</label>
    <div class="col-sm-3">
      <textarea class="form-control" rows="5" ng-model="formData.ips" id="ipsId"></textarea>
    </div>
    
    <label  class="col-sm-2 control-label">Or Choose File</label>
    <div class="col-sm-3" ng-show="showFiles">
      <select class="form-control" ng-model="formData.fileName" ng-options="n for n in fileNames" >
        <option></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    
    <label  class="col-sm-2 control-label">Map File</label>
    <div class="col-sm-3" ng-show="showFiles">
      <select class="form-control" ng-model="formData.mapName" ng-options="m for m in mapNames" >
        <option></option>
      </select>
    </div>
    <p class="help-block">Choose a map file if you don't want to use the default. </p>
  </div>
  
  <div class="form-group">
  <div class="col-sm-3 col-sm-offset-2">
  <button type="button" class="btn btn-primary" ng-click="callClient()">Call cifbulk client</button>
  </div></div>
</form
<div class="col-sm-12 well-sm" ng-show="showResults" >
<strong>Results</strong>
<pre>{{result}}</pre>
</div>
