<h2 class="sub-header">Upload</h2>
<div class="span6">

<form role="form">
  <div class="form-group">
    <label for="inputOneFile">Choose one file</label>
    <input type="file" ng-file-select="onFileSelect($files)" id="inputOneFile">
    <label for "inputMultipleFiles">Choose multiple files</label>
    <input type="file" ng-file-select="onFileSelect($files)" multiple>
    <label for "dragDropFiles">Drag and drop files</label>
    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                    ng-show="dropSupported" id="dragDropFiles">drop files here</div>
    <div ng-file-drop-available="dropSupported=true" 
                    ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->
   </div>
</form>

</div> 