#!/bin/bash

# This file is an example only. Do not check changes to this file
# with real values into git.

# Manual installation:
# 1. Create a file on the destination server at /etc/dashboard/dashboard-secrets.conf
# 2. Copy the contents of this file into it.
# 3. Enter the values for your installation.
# 4. Restart the dashboard server via:
#  sudo service dims-dashboard stop
#  suod service dims-dashboard start

# Note that the dims-dashboard-deploy.yml Ansible playbook will also deploy this file
# if you give the playbook the location of the file on your workstation (see the 
# dims-dashboard-deploy.yml file for information)


# From your google developer console
export GOOGLE_CLIENT_SECRET=
export GOOGLE_CLIENT_ID=

# The trident database user password
export USER_DB_PASS=

# For connecting to Rabbitmq
export RABBITMQ_DEFAULT_USER_PASS=

# The dashboard defines these values:
# Use alphanumeric strings, longer is better
# The dashboard server applications has defaults for these
# that you can use during development, but you should always 
# use new values defined here when deploying.

# For the jwt token
export DASHBOARD_TOKEN_SECRET=

# For sessions
export DASHBOARD_SESSION_SECRET=

# For cookies
export DASHBOARD_COOKIE_SECRET=

# For passwords sent via POST 
export DASHBOARD_PASS_SECRET=
