#!/bin/bash

# This shows the environment variables that are defined in /etc/dashboard/dashboard.conf
# This file at /etc/dashboard/dashboard.conf is populated by Ansible.
export DASHBOARD_PUBLIC_HOST=www.dimsdevserver03.dev
export DASHBOARD_PUBLIC_PORT=80
export DASHBOARD_PUBLIC_PROTOCOL=http
export RABBITMQ_HOST=rabbitmq.prisem.washington.edu
export RABBITMQ_DEFAULT_USER=rpc_user
export RABBITMQ_PORT=5672
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_DATABASE=0
export USER_DB_HOST=dimsdev01.dev
export USER_DB_USER=trident
export USER_DATABASE=trident
export DIMS=/opt/dims
export DASHBOARD_NODE_ENV=development
export DASHBOARD_PORT=3000
export CONSUL_AGENT=172.17.8.101:8500
export CONSUL_URL=http://${CONSUL_AGENT}/ui/
export TRIDENT_URL=http://dimsdev01.dev

