#!/bin/bash

# This file is an example only. Do not check changes to this file
# with real values into git.

# Create a file on the destination server at /etc/dashboard/dashboard-secrets.conf

# Copy the contents of this file into it.

# Enter the values for your installation.

# Restart the dashboard server (if it has already been installed) via:
#  sudo service dims-dashboard stop
#  suod service dims-dashboard start


# From your google developer console
export GOOGLE_CLIENT_SECRET=
export GOOGLE_CLIENT_ID=

# The trident database user password
export USER_DB_PASS=

# For connecting to Rabbitmq
export RABBITMQ_DEFAULT_USER_PASS=

# The dashboard defines these values:
# Use alphanumeric strings, longer is better
# The dashboard server applications has defaults for these
# that you can use during development, but you should always 
# use new values defined here when deploying.

# For the jwt token
export DASHBOARD_TOKEN_SECRET=

# For sessions
export DASHBOARD_SESSION_SECRET=

# For cookies
export DASHBOARD_COOKIE_SECRET=

# For passwords sent via POST 
export DASHBOARD_PASS_SECRET=
