        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <p>DIMS web demo demonstrating running RPC scripts. Choose a function from the list on the left navbar.</p>

          <div ng-view>
          </div>
        </div>