<!DOCTYPE html>
<html ng-app=dimsDemo>
<% include header %>
<body>
    <% include navbar %>

    <div class="container-fluid">
      <div class="row">
        <% include sidebar %>
        <% include center %>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script  src="lib/bootstrap.js"></script>
    <script src="lib/angular-file-upload-bower-1.4.0/angular-file-upload-shim.js"></script> 
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-file-upload-bower-1.4.0/angular-file-upload.js"></script> 
    
    <script src="lib/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="lib/ng-grid-2.0.11.debug.js"></script>
    <script src="lib/ng-infinite-scroll.js"></script>
    <script src="lib/showErrors.js"></script>
    <script src="lib/ng-prettyjson.min.js"></script>
    <script src="lib/truncate.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/controllers/rwfindCtrl.js"></script>
    <script src="js/controllers/anonCtrl.js"></script>
    <script src="js/controllers/cifbulkCtrl.js"></script>
    <script src="js/controllers/crosscorCtrl.js"></script>
    <script src="js/controllers/datafilesCtrl.js"></script>
    <script src="js/controllers/ipgrepCtrl.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/uploadCtrl.js"></script>
    <script src="js/directives/directives.js"></script>
    <script src="js/filters/filters.js"></script>
    <script src="js/services/services.js"></script>

</body>
</html>