<!-- sidebar -->
<div class="col-sm-2 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/">Overview</a></li>
    <!-- <li><a href="/ipgrep_client">Ipgrep</a></li> -->
    <li><a href="/anon_client">Anon client</a></li>
    <li><a href="/cifbulk_client">Cifbulk client</a></li>
    <li><a href="/crosscor_client">Crosscor client</a></li>
    <li><a href="/rwfind_client">Rwfind client</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="/uploadfile">Upload</a></li>
    <li><a href="/datafiles">Files</a></li>
  </ul>
   <ul class="nav nav-sidebar">
    <li><a href="/graph">Graph</a></li>
  </ul>
  
</div>