
<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl as vm">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand-dims navbar-brand" href="/mainnew" ng-if="currentUser"> DIMS</a>
      <p class="navbar-text" ng-hide="currentUser">DIMS</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-show="currentUser">
        <li><a href="/"><i class="fa fa-bar-chart" style="padding-right:3px;"></i>Home</a></li>
        <!--
        <li class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tracking <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Campaigns</a></li>
            <li><a href="#">Cases</a></li>
            <li><a href="#">Activities</a></li>
            <li class="divider"></li>
            <li><a href="#">Notifications</a></li>
          </ul>
        </li> -->
        <li><a href="/">Tracking</a></li>
        <!-- <li><a href="/">Data</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users">Find DIMS users</a></li>
            <li><a href="http://portal.uw.ops-trust.net" target="_blank">Open Ops-Trust portal</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/datafiles">View files</a></li>
            <li><a href="/uploadfile">Upload files</a></li>
          </ul>
        </li>
        <li><a ng-click="vm.logMonitor()">Log Monitor</a></li>
        <!-- <li><a href="/">Admin</a></li> -->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/rwfind_client/">Search SiLK</a></li>
            <li><a href="/cifbulk_client/">Search CIF</a></li>
            <li><a href="/crosscor_client/">Correlate</a></li>
            <li><a href="/anon_client/">Anonymize</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/graph">Graph Demo</a></li>
          </ul>
        </li>
        <li><a href="/userinfo/settings"><i class="fa fa-cog fa-lg"></i></a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="currentUser"><a ng-click="vm.chat()"><i class="fa fa-comments fa-lg"></i></a></li>
        <li ng-show="currentUser" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell fa-lg"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/">New notifications</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/">Notification 1</a></li>
            <li><a href="/">Notification 2</a></li>
          </ul>
        </li>
        <!--<li ng-show="currentUser"><a ng-click="vm.logout()"> Logout</a></li> -->
        <li ng-show="currentUser" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/userinfo">Profile</a></li>
            <li><a ng-click="vm.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- <p class="navbar-right navbar-text" ng-show="currentUser">&nbsp;</p>
      <p class="navbar-right navbar-text" ng-show="currentUser">Welcome, {{currentUser.id}}</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>
        <li class="active"><a href="./">Fixed top</a></li>
      </ul> -->
    </div><!--/.nav-collapse -->
  </div>
</div>
